<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <hr />
    <div id="main">
        <div id="list" v-if="UI=='main'">
            <h1>商家</h1>
            <h2>商品</h2>
            <button @click="setAddUI()">Load Add Form</button>
            <table border=1>
                <tr>
                    <td>序號</td>
                    <td>商品名稱</td>
                    <td>價格</td>
                    <td>商品介紹</td>
                    <td>-</td>
                </tr>
                <tr v-for="job in dat">
                    <td>{{job.id}}</td>
                    <td>{{job.name}}</td>
                    <td>{{job.price}}</td>
                    <td>{{job.description}}</td>
                    <td><button @click="delJob(job.id)">刪</button><button @click="setEditUI(job)">改</button></td>
                </tr>
            </table>
            <h2>訂單</h2>
            <table border=1>
                <tr>
                    <td>訂單編號</td>
                    <td>商品序號</td>
                    <td>商品名稱</td>
                    <td>數量</td>
                    <td>總價</td>
                    <td>訂單狀態</td>
                    <td>-</td>
                </tr>
                <tr v-for="(job, index) in order">
                    <td>{{job.oID}}</td>
                    <td>{{job.id}}</td>
                    <td>{{job.goods}}</td>
                    <td>{{job.amount}}</td>
                    <td>{{job.total}}</td>
                    <td>{{job.status}}</td>
                    <td>
                        <button v-if="(index < order.length - 1 && job.oID !== order[index + 1].oID) || index == order.length - 1" @click="checkStatus(job.oID)">額外按鈕</button>
                    </td>
                </tr>
                </tr>
            </table>
        </div>
        <div v-if="UI=='editForm'">
            商品名稱: <input type="text" v-model="newJob.name" /> <br />

            價錢: <input type="text" v-model="newJob.price" /> <br />

            商品說明: <textarea v-model="newJob.description"></textarea><br>

            <input type='button' @click="addJob()" value="save">
        </div>
    </div>

    <script>
        const shoppingApp = Vue.createApp({
            data() {
                return {
                    UI: 'main',
                    dat: [],
                    order: [],
                    newJob: {
                        id: -1,
                        name: '',
                        price: '',
                        description: ''
                    }
                }
            },
            methods: {
                loadList: function () {
                    const that = this; //this  ==> stands for vm6. let's save `this` to `that`
                    fetch('shoppingControl.php?act=listJob')
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (myJson) {
                            //we are inside the callback function, now `this` means the function, not vm6
                            //we will use `that` to access vm6

                            that.dat = myJson;
                            //shoppingApp.dat = myJson;
                        });
                },
                orderList: function () {
                    const that = this; //this  ==> stands for vm6. let's save `this` to `that`
                    fetch('shoppingControl.php?act=orderList&rule=1')
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (myJson) {
                            //we are inside the callback function, now `this` means the function, not vm6
                            //we will use `that` to access vm6

                            that.order = myJson;
                            //shoppingApp.dat = myJson;
                        });
                },
                checkStatus: function (oID) {
                    const that = this;
                    let url = "shoppingControl.php?act=checkStatus&id=" + oID+"&rule=" + 1;
                    fetch(url, {
                        method: 'POST'
                    })
                        .then(function (res) { 
                            return res.text(); 
                        }) //取得傳回值，轉為文字
                        .then(function (data) {
                            console.log(data);
                            that.orderList();
                        })
                },
                delJob: function (id) {
                    const that = this;
                    let url = "shoppingControl.php?act=delJob&id=" + id;
                    fetch(url, {
                        method: 'POST'
                    })
                        .then(function (res) { return res.text(); }) //取得傳回值，轉為文字
                        .then(function (data) {
                            console.log(data);
                            that.loadList();
                        })
                },
                addJob: function () {
                    const that = this;
                    let mydat = new FormData();
                    mydat.append("dat", JSON.stringify(this.newJob));

                    let url = "shoppingControl.php?act=addJob";
                    fetch(url, {
                        method: 'POST',
                        body: mydat // 將表單物件放入fetch的body屬性
                    })
                        .then(function (res) { return res.text(); }) //取得傳回值，轉為文字
                        .then(function (data) {
                            console.log(data);
                            that.setUI('main');
                            that.loadList();
                        })
                },
                setEditUI: function (job) {
                    this.newJob = job;
                    this.setUI('editForm');
                },
                setAddUI: function () {
                    this.newJob = {
                        id: -1,
                        name: '',
                        price: '',
                        description: ''
                    };
                    this.setUI('editForm');
                },
                setUI: function (page) {
                    this.UI = page;
                }
            },
            created() {
                this.loadList();
                this.orderList();
            }
        }).mount("#main");
    </script>
</body>

</html>