<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <hr />
    <div id="main">
        <div id="cont" v-if="UI=='register'">
            <h2>商家註冊</h2>
            <br>
            <button @click="setLoginUI()">返回</button>
            <br>
            <!-- <form > -->
                <label>
                    <span>信箱：</span>
                    <input type="email" v-model="email" name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
                </label>
                <br>
                <label>
                    <span>密碼：</span>
                    <input type="password" v-model="password"name="password" id="password" required>
                    <button type="button" id="passwordToggle" onclick="togglePasswordVisibility()">顯示密碼</button>
                </label>
                <br>
                <label>
                    <span>確認密碼：</span>
                    <input type="password" v-model="confirm_password"name="confirm_password" required>
                </label>
                <br>
                <label>
                    <span>名稱：</span>
                    <input type="text" v-model="name"name="name" required>
                </label>
                <br>
                <div >
                    <button type="submit" @click="bregister()">註冊</button>
                    <button type="reset">重設</button>
                </div>
            <!-- </form> -->
        </div>
        <div id="cont"  v-if="UI=='login'">
            <h2>商家登入</h2>
            <!-- <form > -->
                <label for="email">帳號:</label>
                <input type="text" v-model="email" id="email" required>
                <br>
                <label for="password">密碼：</label>
                <input type="password" v-model="password" id="password" required>
                <br>
                <input type="submit" value="登入" @click="blogin()">
                <input type="reset">
            <!-- </form> -->
            <button @click="setUI('register')">商家註冊</button>
            <!-- <p><a href="login1.php" class="home-link">回到首頁</a></p> -->
        </div>
        <div id="list" v-if="UI=='main'">
            <h1>商家</h1>
            <br>
            <button @click="setLoginUI()">登出</button>
            <h2>商品</h2>
            <button @click="setAddUI()">Load Add Form</button>
            <table border=1>
                <tr>
                    <td>序號</td>
                    <td>商品名稱</td>
                    <td>價格</td>
                    <td>商品介紹</td>
                    <td>-</td>
                </tr>
                <tr v-for="job in dat">
                    <td>{{job.id}}</td>
                    <td>{{job.name}}</td>
                    <td>{{job.price}}</td>
                    <td>{{job.description}}</td>
                    <td><button @click="delJob(job.id)">刪</button><button @click="setEditUI(job)">改</button></td>
                </tr>
            </table>
            <h2>訂單</h2>
            <button @click="orderList()">Load Order List</button>
            <table border=1>
                <tr>
                    <td>訂單編號</td>
                    <td>商品序號</td>
                    <td>商品名稱</td>
                    <td>數量</td>
                    <td>總價</td>
                    <td>訂單狀態</td>
                    <td>-</td>
                </tr>
                <tr v-for="(job, index) in order">
                    <td>{{job.oID}}</td>
                    <td>{{job.id}}</td>
                    <td>{{job.goods}}</td>
                    <td>{{job.amount}}</td>
                    <td>{{job.total}}</td>
                    <td>{{job.status}}</td>
                    <td>
                        <button v-if="(index < order.length - 1 && job.oID !== order[index + 1].oID) || index == order.length - 1" @click="checkStatus(job.oID)">處理</button>
                    </td>
                </tr>
                </tr>
            </table>
        </div>
        <div v-if="UI=='editForm'">
            商品名稱: <input type="text" v-model="newJob.name" /> <br />

            價錢: <input type="text" v-model="newJob.price" /> <br />

            商品說明: <textarea v-model="newJob.description"></textarea><br>

            <input type='button' @click="addJob()" value="save">
            <button @click="setUI('main')">Cancel</button>
        </div>
    </div>

    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("password");
            var toggleButton = document.getElementById("passwordToggle");

            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleButton.textContent = "隱藏密碼";
            } else {
                passwordField.type = "password";
                toggleButton.textContent = "顯示密碼";
            }
        }
        const shoppingApp = Vue.createApp({
            data() {
                return {
                    UI: 'login',
                    email: '',
                    password: '',
                    confirm_password: '',
                    name: '',
                    ID:null,
                    dat: [],
                    order: [],
                    newJob: {
                        id: -1,
                        name: '',
                        price: '',
                        description: ''
                    }
                }
            },
            methods: {
                bregister: function () {
                    console.log('shoppingControl.php?act=register&email=' + this.email + '&password=' + this.password + '&confirm_password=' + this.confirm_password+"&name=" + this.name);
                    const that = this; //this  ==> stands for vm6. let's save `this` to `that`
                    let url = "shoppingControl.php?act=register&email=" + this.email + '&pwd=' + this.password + '&confirm_password=' + this.confirm_password+"&name=" + this.name;
                    // fetch('shoppingControl.php?act=register&email=' + this.email + '&password=' + this.password + '&confirm_password=' + this.confirm_password)
                    fetch(url, {
                        method: 'POST'
                    })
                        .then(function (response) {
                            that.email = '';
                            that.password = '';
                            return response.json();
                        })
                        .then(function (myJson) {
                            console.log(myJson);
                            if (myJson) {
                                that.setUI('login');
                                console.log("success");
                            // 註冊成功，進行相應的處理...
                            } else {
                                that.setUI('register');
                            // 註冊失敗，顯示錯誤訊息...
                            }
                        });
                },
                blogin: function () {
                    console.log('shoppingControl.php?act=login&email=' + this.email + '&password=' + this.password);
                    const that = this; //this  ==> stands for vm6. let's save `this` to `that`
                    let url = "shoppingControl.php?act=blogin&email=" + this.email+"&pwd=" + this.password;
                    // fetch('shoppingControl.php?act=login&email=' + this.email + '&password=' + this.password)
                    fetch(url, {
                        method: 'POST'
                    })
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (myJson) {
                            if (myJson[0].bID !=0) {
                                that.ID = myJson[0].bID;
                                that.setUI('main');
                                that.loadList();
                                that.orderList();
                                console.log(that.ID,myJson[0].bID,"success");
                            // 登入成功，進行相應的處理...
                            } else {
                                that.setUI('login');
                                that.ID = null;
                            // 登入失敗，顯示錯誤訊息...
                            }
                        });
                },
                loadList: function () {
                    const that = this; //this  ==> stands for vm6. let's save `this` to `that`
                    fetch('shoppingControl.php?act=listJob&bID='+this.ID)
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (myJson) {
                            //we are inside the callback function, now `this` means the function, not vm6
                            //we will use `that` to access vm6

                            that.dat = myJson;
                            //shoppingApp.dat = myJson;
                        });
                },
                orderList: function () {
                    const that = this; //this  ==> stands for vm6. let's save `this` to `that`
                    fetch('shoppingControl.php?act=orderList&rule=1&bID='+this.ID)
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (myJson) {
                            //we are inside the callback function, now `this` means the function, not vm6
                            //we will use `that` to access vm6

                            that.order = myJson;
                            //shoppingApp.dat = myJson;
                        });
                },
                checkStatus: function (oID) {
                    const that = this;
                    let url = "shoppingControl.php?act=checkStatus&id=" + oID+"&rule=" + 1;
                    fetch(url, {
                        method: 'POST'
                    })
                        .then(function (res) { 
                            return res.text(); 
                        }) //取得傳回值，轉為文字
                        .then(function (data) {
                            console.log(data);
                            that.orderList();
                        })
                },
                delJob: function (id) {
                    const that = this;
                    let url = "shoppingControl.php?act=delJob&id=" + id;
                    fetch(url, {
                        method: 'POST'
                    })
                        .then(function (res) { return res.text(); }) //取得傳回值，轉為文字
                        .then(function (data) {
                            console.log(data);
                            that.loadList();
                        })
                },
                addJob: function () {
                    const that = this;
                    let mydat = new FormData();
                    mydat.append("dat", JSON.stringify(this.newJob));

                    let url = "shoppingControl.php?act=addJob&"+'bID='+this.ID;
                    fetch(url, {
                        method: 'POST',
                        body: mydat // 將表單物件放入fetch的body屬性
                    })
                        .then(function (res) { return res.text(); }) //取得傳回值，轉為文字
                        .then(function (data) {
                            console.log(data);
                            that.setUI('main');
                            that.loadList();
                        })
                },
                setEditUI: function (job) {
                    this.newJob = job;
                    this.setUI('editForm');
                },
                setAddUI: function () {
                    this.newJob = {
                        id: -1,
                        name: '',
                        price: '',
                        description: ''
                    };
                    this.setUI('editForm');
                },
                setUI: function (page) {
                    this.UI = page;
                },
                setLoginUI: function () {
                    this.ID = null;
                    this.email = '';
                    this.password = '';
                    this.UI = 'login';
                }
            },
            created() {
                // this.loadList();
                // this.orderList();
            }
        }).mount("#main");
    </script>
</body>

</html>